.navigation{
    display: flex;
    
    gap: 3rem;
    justify-content: flex-end;
    margin: 0 3rem;
}

a{
    text-decoration: none;
    color: black;
}

.navigation li {
    font-size: 1rem;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: darkred;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5rem);
}